@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
.titleIndex {
  color: white;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 80px;
  text-align: center;
  margin: 15px;
}

.itemIndex {
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}
.itemIndex img {
  height: 70px;
  width: 40%;
  object-fit: cover;
  border-radius: 5px;
}

.infoItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  gap: 4px;
  width: 70%;
}
.infoItem h3 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
.infoItem p {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 300;
  margin: 0;
}

.postNav {
  height: 20px;
  background-color: rgb(219, 219, 219);
}

nav {
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 5%;
}

.bi-list {
  width: 30px;
}

.logo {
  height: 50px;
  background-color: black;
  border-radius: 50%;
}

.dropMenu {
  background-color: white;
  padding: 4px;
  border-radius: 15%;
  transition: 0.5s;
}

.dropMenu:focus {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.cardProducto {
  width: 43%;
  background-color: rgb(240, 240, 240);
  border-radius: 2%;
}
.cardProducto img {
  width: 90%;
  border-radius: 2% 2% 0 0;
  height: 40%;
  object-fit: cover;
  margin: 5%;
}

.infoProducto {
  padding: 10px;
}

.tituloProducto {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.descProducto {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.precio {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 15px;
}

footer {
  background-color: #180f06;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 5px;
  position: relative;
  bottom: 0;
}

.logoFooter {
  width: 40px;
  opacity: 50%;
  filter: brightness(80%);
}

.redesFooter {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 120px;
  gap: 10px;
}
.redesFooter img {
  width: 100%;
  opacity: 50%;
  filter: brightness(80%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

body {
  background-image: url(../multimedia/backgrounds/back2.jpg);
  background-size: cover;
}

.carousel-caption h5 {
  font-size: 40px;
}

/*# sourceMappingURL=style.css.map */
