@import './vars';
@import './base/index';
@import './base/productos';
@import './components/nav';
@import './components/card';
@import './components/footer';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background-image: url(../multimedia/backgrounds/back2.jpg);
    background-size: cover;
}

u {
    text-decoration: underline black;
}

