footer {
    background-color: #180f06;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 5px;
    position: relative;
    bottom: 0;
}

.logoFooter {
    width: 40px;
    opacity: 50%;
    filter: brightness(80%);
}

.redesFooter {
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 120px;
    gap: 10px;
    img {
        width: 30px;
        opacity: 50%;
        filter: brightness(80%);
    }
}