.destacados {
    color: white;
    font-size: 30px;
    font-family: $font1;
    font-weight: 900;
    text-align: center;
    margin: 15px 0 0 0;
}

.indexDestacados {
    padding: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px 0;
}

.titleIndex {
    color: white;
    font-family: $font3;
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    margin: 15px;
}