.titleIndex {
    color: white;
    font-family: $font3;
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    margin: 15px;
}

.itemIndex {
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    img {
        height: 100%;
    }
}

.infoItem {
    padding: 10px;
    gap: 4px;
    h3 {
        font-family: $font1;
        font-size: 20px;
        font-weight: 700;
    }
    p {
        font-family: $font1;
        font-size: 15px;
        font-weight: 100;
    }
}