.productosTitle {
    text-align: center;
    font-family: $font3;
    color: white;
    font-size: 45px;
    margin: 20px;
}

.productosSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 30px;
    padding-top: 0;
}

@media(min-width: 425px) {
    .productosSection {
        justify-content: flex-start;
    }
}